#text{
	width: 60%;
	height: auto;
	margin: auto;
	margin-top: 5%;
	margin-bottom: 3%;
	text-align: center;
	z-index: 1;
}

.tx{
	width: 20%;
	height: 20%;
	border-radius: 50%;
}
.tc{
	background-image: linear-gradient(to right,#f7acbc,#f8aba6,#f05b72);
	-webkit-background-clip:text;
	color: transparent;

}
.gi {
  	width:230;
  	height:107.5px;
  	transition:transform 0.5s;
	border-radius: 10px;
	margin: 15px;
	box-shadow:0 5px 20px rgba(0,0,0,0.6)
 }
 .gi:hover {
  	transform:scale(1.5)
 }
  
 .bs{
  font-family: "montserrat";
  background-image: linear-gradient(125deg,#2c3e50,#27ae60,#2980b9,#e74c3c,#8e44ad);
  background-size: 200%;
  animation: bganimation 15s infinite;
  -webkit-background-clip:text;
  color: transparent;
}
.bm{
	position: absolute;
	
	left: 40%;
}
@keyframes bganimation {
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}
body{
	font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
	cursor: url(https://fessxx.cn/img/all.cur),auto;
	margin: 0;
}

video{  
        	
        	width: auto;
        	height: auto; 
             position: fixed;    
            right: 0px;  
            bottom: 0px;  
            z-index:-99;
			
			            filter: blur(2px); //背景模糊设置 
			           

			
 }
 
 
  

