#text{
	width: 60%;
	height: 100%;
	margin: auto;
	margin-top: 5%;
	margin-bottom: 3%;
	text-align: center;
	z-index: 1;
}

.tx{
	width: 20%;
	height: 20%;
	border-radius: 50%;
}
.tc{
	background-image: linear-gradient(to right,#f7acbc,#f8aba6,#f05b72);
	-webkit-background-clip:text;
	color: transparent;

}
.gi {
  	width:230;
  	height:107.5px;
  	transition:transform 0.5s;
	border-radius: 10px;
	margin: 15px;
	box-shadow:0 5px 20px rgba(0,0,0,0.6)
 }
 .gi:hover {
  	transform:scale(1.5)
 }
  
 .bs{
  font-family: "montserrat";
  background-image: linear-gradient(125deg,#2c3e50,#27ae60,#2980b9,#e74c3c,#8e44ad);
  background-size: 200%;
  animation: bganimation 15s infinite;
  -webkit-background-clip:text;
  color: transparent;
}
.bm{
	    position: absolute;
	    width: 100%;
	    text-align: center;
}
@keyframes bganimation {
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}
body{
	font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
	/* cursor: url(https://fessxx.cn/img/all.cur),auto; */
	margin: 0;
	width: 100%;
	height: 100%;
}
html{
	height: 100%;
	width: 100%;
}

video{  
        	
        	width: auto;
        	height: auto; 
			min-height: 100%;
			min-width: 100%;
             position: fixed;    
            right: 0px;  
            bottom: 0px;  
            z-index:-99;
			
		filter: blur(2px); //背景模糊设置 
			           

			
 }
 .typed-cursor{
      margin-left: 10px;
      opacity: 0;
      -webkit-animation: blink 0.7s infinite;
      -moz-animation: blink 0.7s infinite;
       animation: blink 0.7s linear infinite;
      }
    @keyframes blink{
     0%{
       opacity: 1;
       }
     50%{
       opacity: 0;
       }
     100%{
       opacity: 1;
       }
 }
    @-webkit-keyframes blink{
    0%{
      opacity: 1;
      }
    50%{
      opacity: 0;
      }
    100%{
      opacity: 1;
      }
 }
    @-moz-keyframes blink{
         0%{
          opacity: 1;
          }
        50%{
          opacity: 0;
          }
        100%{
          opacity: 1;
          }
  }
     #main{
       display: flex;
       height: 40%;
     }
     #bjxz{
       position: absolute;
     }
	 #main2{
		 text-align: center;
	     margin: 20% auto;
	     font-size: 45px;
		 height: 80%;
	 }
	 .yt{
		 font-size: 20px;
		 margin-right: 20px;
	 }
	 #app{
	   height: 100%;
	   width: 100%;
	 }
 
 
	#mb2{
		text-align: center;
		margin: 20% auto;
		font-size: 90px;
		height: 70%;
	}
	.mbbm{
		position: absolute;
		font-size: 50px;
		text-align: center;
		width: 100%;
		}
		#pc{
			width: 100%;
			height: 85%;
			
		}
		#mb{
			width: 100%;
			height: 100%;
		}
  

