<!DOCTYPE html>
<html>
	<head>
		 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>
			SunFlowerのIndex.html
		</title>
		<link rel="stylesheet" href="./css/index.css">
		<!-- 引入组件库 -->
		<script src="./js/vue.js"></script>
		<link rel="stylesheet" type="text/css" href="./css/rollbar.css"/>
		<!-- 引入组件库 -->
		<script src="./js/index.js"></script>
		<link rel="stylesheet" type="text/css" href="./assets/waifu.css"/>
		
		<link rel="stylesheet" type="text/css" href="./css/show.css"/>
		
		<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
		<link rel="icon" href="./img/tx.JPG" sizes="32x32"/>
	</head>
	<body>
		
		<div id ="app">
			<div id="hd">
				<el-link type="warning" class="yt" @click="isrt=2">首页</el-link>
				  <el-link type="primary" class="yt" @click="isrt=1">关于我</el-link>
			</div>
			<div v-if="isrt==1">
			<div id="text">
				<el-card class="box-card">
					<img class="tx" src="./img/tx.JPG" @click="onclickTitleimg"/>
					<h1 class="tc">SunFlower</h1>
					<h2>
						<span>LoveのGames:</span>
						<el-tag>CS:GO</el-tag>
						<el-tag type="success">GTA5</el-tag>
						<el-tag type="info">MHR</el-tag>
						<el-tag type="warning">MHW</el-tag>
						<el-tag type="danger">塞尔达</el-tag>
					</h2>
					<h2>简介:<span class="tc">123，321，123，321，123，321</span></h2>
					<h2 class="bs">My Steam Library Games：</h2>
					<div class="gd">
						<span v-for="item in items"><a @click="gameimgclick(item.steamId)"><img class="gi"  :src="'./img/'+item.url"/></a></span>
						
					</div>
					<div >
						<h1 class="bs">后续内容待补充~~~~~~</h1>
					</div>
				</el-card>
			</div>
		
		</div>
		<div v-if="isrt==2" style="height: 50%;">
			<div id="main2" >
			
			     <span >{{ obj.output }}</span>
			     <span class="typed-cursor">|</span>
			 </div>
		</div>
		<div class="waifu">
		    <div class="waifu-tips"></div>
		    <canvas id="live2d" width="280" height="250" class="live2d"></canvas>
		    <div class="waifu-tool">
		        <span class="fui-home"></span>
		        <span class="fui-chat"></span>
		        <span class="fui-eye"></span>
		        <span class="fui-user"></span>
		        <span class="fui-photo"></span>
		        <span class="fui-info-circle"></span>
		        <span class="fui-cross"></span>
		    </div>
		</div>
		 <div class="bm">
		<h3 >Developed by the SunFlower</h3>
		</div>
		<video autoplay loop muted src="./img/2.mp4"></video>
		</div>
		
	</body>
	<script src="https://cdn.jsdelivr.net/npm/easy-typer-js@1.0.3/easy-typer-min.js"></script>
	<script src="./js/show.js"></script>
	<script src="./js/xin.js"></script>
	<script src="./js/yinghua.js"></script>
	<script src="./assets/waifu-tips.js"></script>
	<script src="./assets/live2d.js"></script>
	<script type="text/javascript">initModel("assets/")</script>
	
</html>
